---
import { getEntryBySlug } from "astro:content";
import Header from "../ui/Heading.astro";
import { Image } from "astro:assets";
const TeamData = await getEntryBySlug("aboutPage", "team");
const { header, members } = TeamData?.data;
const { hideHeader } = Astro.props;
---

<section class='section-team'>
  <div class='bg-ColorOffWhite'>
    <div class='section-space'>
      <div class='container-default'>
        {!hideHeader && <Header heading={header} MaxWidth='max-w-[526px]' />}
        <div class='grid gap-x-6 gap-y-8 sm:grid-cols-2 lg:grid-cols-4'>
          {
            members
              ?.slice(0, 4)
              ?.map(({ name, post, socialLinks, image }: any) => (
                <div
                  class='jos flex flex-col items-center justify-center rounded-[10px] bg-white p-5 text-center'
                  data-jos_animation='flip-left'>
                  <Image
                    src={image}
                    alt='team-img-1'
                    width='266'
                    height='250'
                    class='h-auto w-full rounded-[10px] lg:w-auto'
                  />
                  <div class='mb-4 mt-6'>
                    <div class='mb-1 text-xl font-semibold'>{name}</div>
                    <span class='block text-opacity-80'>{post}</span>
                  </div>

                  <div class='flex flex-wrap gap-[10px] xl:gap-4'>
                    {socialLinks?.slice(0, 4)?.map(({ icon, link }: any) => (
                      <a
                        href={link}
                        target='_blank'
                        rel='noopener noreferrer'
                        class='flex h-[35px] w-[35px] items-center justify-center rounded-[50%] bg-ColorBlack bg-opacity-5 text-sm text-ColorBlack transition-all duration-300 hover:bg-ColorBlack hover:bg-opacity-100 hover:text-white'
                        aria-label='twitter'>
                        <i class={`fa-brands ${icon}`} />
                      </a>
                    ))}
                  </div>
                </div>
              ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
