---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { slug } from "github-slugger";

const blogs = await getCollection("blogs");
var Categories: any = [];
blogs?.map(({ data: { category } }: any) => Categories.push(category));
const uniqueCategories: any = new Set(Categories);
---

<aside class='jos flex flex-col gap-y-[30px]'>
  <!-- Single Sidebar -->
  <div class='rounded-[10px] bg-ColorOffWhite p-8'>
    <div
      class='relative mb-[30px] inline-block pb-[10px] text-lg font-semibold text-ColorBlack after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-full after:bg-black'>
      Blog Categories
    </div>
    <!-- Blog Categories List -->
    <ul class='text-ColorBlack'>
      {
        Array.from(uniqueCategories, (category: string) => (
          <li class='border-b border-ColorBlack/10 pb-[14px] pt-[14px] first:pt-0 last:border-b-0 last:pb-0'>
            <button class='hover:text-ColorBlue'>
              {category} {"("}
              {
                blogs.filter((blog: any) => {
                  return blog?.data?.category === category;
                }).length
              }
              {")"}
            </button>
          </li>
        ))
      }
    </ul>
    <!-- Blog Categories List -->
  </div>
  <!-- Single Sidebar -->
  <!-- Single Sidebar -->
  <div class='rounded-[10px] bg-ColorOffWhite p-8'>
    <div
      class='relative mb-[30px] inline-block pb-[10px] text-lg font-semibold text-ColorBlack after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-full after:bg-black'>
      Recent Posts
    </div>

    <!-- Blog Recent Post List -->
    <ul class='flex flex-col gap-y-6'>
      {
        blogs
          .sort(
            (a, b) =>
              new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
          )
          .slice(0, 3)
          .map(({ data: { title, image, date } }: any) => (
            <li class='group flex flex-col items-center gap-x-4 gap-y-4 sm:flex-row'>
              <a
                href={`/blog/${slug(title)}`}
                class='inline-block h-[100px] w-full overflow-hidden rounded-[5px] sm:w-[150px]'>
                <Image
                  src={image}
                  alt='blog-recent-img-1'
                  width='150'
                  height='100'
                  class='h-full w-full scale-100 object-cover transition-all duration-300 group-hover:scale-105'
                />
              </a>
              <div class='flex w-full flex-col gap-y-3 sm:w-auto sm:flex-1'>
                <a
                  href={`/blog/${slug(title)}`}
                  class='flex items-center gap-[10px] text-sm hover:text-ColorBlue'>
                  <i class='fa-regular fa-calendar' />
                  {date}
                </a>
                <a
                  href={`/blog/${slug(title)}`}
                  class='line-clamp-2 text-base font-semibold text-ColorBlack hover:text-ColorBlue'>
                  {title}
                </a>
              </div>
            </li>
          ))
      }
    </ul>
    <!-- Blog Recent Post List -->
  </div>
  <!-- Single Sidebar -->
</aside>
