---
import { getCollection } from "astro:content";
import Layout from "../../layout/Layout.astro";
import { slug } from "github-slugger";
import { getEntry } from "astro:content";
import ContactForm from "../../components/functional/ContactForm";
import BreadCumb from "../../components/ui/BreadCumb.astro";
export async function getStaticPaths() {
  const CarrerData = await getCollection("career");
  return CarrerData.map((careerSingle: any) => {
    return {
      params: { single: slug(careerSingle?.data?.position) },
      props: { careerSingle },
    };
  });
}
const {
  data: { web3AccessKey },
} = await getEntry("site", "meta");
const { careerSingle } = Astro.props;
const { position, salaryRange, type, description, location } =
  careerSingle.data;
const { Content } = await careerSingle.render();
const ContactDetail = await getEntry("contact", "index");
const { mail, phone, address } = ContactDetail?.data || {};
---

<Layout title={position}>
  <main class='main-wrapper relative overflow-hidden'>
    <BreadCumb>
      <h1 class='breadcrumb-title'>{position}</h1>
      <ul class='breadcrumb-nav'>
        <li><a href='/'>Home</a></li>
        <li><a href='/career'>Career</a></li>
        <li>{position}</li>
      </ul>
    </BreadCumb>
    <section class='section-career-details'>
      <div class='section-space'>
        <div class='container-default'>
          <div
            class='grid items-start gap-10 lg:grid-cols-[1fr_minmax(0,_0.7fr)] xl:gap-[90px]'>
            <div>
              <div class='mb-[18px]'>
                <div class='max-w-[526px]'>
                  <h2>Job Details:</h2>
                </div>
              </div>
              <div class='mb-[60px]'>
                <p>
                  {description}
                </p>
                <div
                  class='my-5 flex flex-wrap gap-x-6 gap-y-3 text-ColorBlack md:my-[30px]'>
                  <div class='flex gap-1'>
                    <span><i class='fa-solid fa-clock'></i></span>
                    {type}
                  </div>
                  <div class='flex gap-1'>
                    <span
                      ><i class='fa-sharp fa-solid fa-location-dot'></i></span
                    >
                    {location}
                  </div>
                  <div class='flex gap-1'>
                    <span><i class='fa-solid fa-money-bills-simple'></i></span>
                    {salaryRange}
                  </div>
                </div>
              </div>
              <article class='grid gap-y-5'>
                <Content />
              </article>
              <ul class='mt-[30px] flex flex-col gap-10'>
                <li class='flex gap-5'>
                  <span
                    class='inline-flex h-[50px] w-[50px] items-center justify-center rounded-[50%] bg-ColorBlue text-xl text-white'>
                    <i class='fa fa-phone'></i>
                  </span>
                  <div class='flex flex-1 flex-col gap-y-[5]'>
                    <span class='text-xl font-semibold text-ColorBlack'
                      >Call us</span
                    >
                    <a
                      href='tel:+0881234567890'
                      class='text-ColorBlack/80 hover:text-ColorBlue'>{phone}</a
                    >
                  </div>
                </li>
                <li class='flex gap-5'>
                  <span
                    class='inline-flex h-[50px] w-[50px] items-center justify-center rounded-[50%] bg-ColorBlue text-xl text-white'>
                    <i class='fa-regular fa-envelope'></i>
                  </span>
                  <div class='flex flex-1 flex-col gap-y-[5]'>
                    <span class='text-xl font-semibold text-ColorBlack'
                      >Email us</span
                    >
                    <a
                      href='mailto:example@gmail.com'
                      class='text-ColorBlack/80 hover:text-ColorBlue'>{mail}</a
                    >
                  </div>
                </li>
                <li class='flex gap-5'>
                  <span
                    class='inline-flex h-[50px] w-[50px] items-center justify-center rounded-[50%] bg-ColorBlue text-xl text-white'>
                    <i class='fa fa-location-dot'></i>
                  </span>
                  <div class='flex flex-1 flex-col gap-y-[5]'>
                    <span class='text-xl font-semibold text-ColorBlack'
                      >Office address</span
                    >
                    <address class='text-ColorBlack/80'>
                      {address}
                    </address>
                  </div>
                </li>
              </ul>
            </div>
            <div
              class='jos xm:p-10 rounded-[10px] border border-ColorBlack/50 bg-ColorOffWhite p-[30px]'>
              <div
                class='mb-5 text-xl font-semibold tracking-tight lg:text-2xl'>
              </div>
              <ContactForm
                client:only='react'
                header='Apply for these position'
                web3AccessKey={web3AccessKey}
              />
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
